
table {
	border-collapse: collapse;
}

table td {
	border: 1px solid black;
	padding: 1em;
}

#broadcast-disk .current {
	border: 4px solid black;
}

#client-requests .fullfilled {
	background: gray;
}
